.container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  gap: 20px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
p {
  margin: 0;
  margin-bottom: 10px;
}
