* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  width: 100%;
}

.main {
  padding: 30px;
  flex: 1 1 auto;
}
