/* .wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  height: 100px;
  color: blue;
} */

.wrapper {
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 200px;
  align-items: center;
  background-color: #34495e;
}

.nav a {
  padding: 5px 10px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
}

.nav .active {
  border: 2px solid rgb(200, 90, 90);
}

h5 {
  color: white;
  font-size: 14px;
}
